@model IEnumerable<Room>
@{
  ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center bg-secondary text-light p-5 mb-3">
  <h1>Bem-vindo a Moozy</h1>
  <p>O lugar perfeito para reservar um quarto</p>

  <form class="row pt-4" asp-action="Booking" method="GET">
    <div class="form-group col-md-6">
      <label for="destiny" class="form-label">Destino</label>
      <input class="form-control form-control-lg" name="destiny" id="destiny" type="text"
        placeholder="Para onde você vai?">
    </div>

    <div class="form-group col-4 col-md-1 mb-md-0">
      <label for="adults" class="form-label">Adultos</label>
      <input class="form-control form-control-lg" name="adults" id="adults" type="number" value="1" min="1" max="25">
    </div>

    <div class="form-group col-4 col-md-1 mb-md-0">
      <label for="childen" class="form-label">Crianças</label>
      <input class="form-control form-control-lg" name="children" id="children" type="number" value="1" min="0"
        max="25">
    </div>

    <div class="form-group col-4 col-md-1 mb-3 mb-md-0">
      <label for="rooms" class="form-label text-danger">Quartos</label>
      <input class="form-control form-control-lg" name="rooms" id="rooms" type="number" value="1" min="1" max="15" disabled>
    </div>

    <div class="form-group col-md-3 row">
      <button class="btn btn-primary btn-lg align-self-end" type="submit">Encontrar</button>
    </div>
  </form>
</section>

<section class="container-fluid pt-4">
  <div class="mb-3 text-center">
    <h1>Nossos melhores quartos</h1>
    <p>Os quartos mais escolhidos pelos usuários</p>
  </div>

  <div class="container">
    <div class="row">
      @if(Model.Count<Room>() != 0)
      {
        @foreach (var r in Model)
        {
          <div class="col-sm-6 col-lg-4">
            <div class="card mb-4 p-2">
              <img src="https://dummyimage.com/300x240/000/fff" class="card-img-top" height="240" width="300">
              <div class="card-body">
                <h2 class="card-title">@r.Name</h2>
                <div class="row mb-3">
                  <div class="d-flex justify-content-between flex-column flex-xl-row col-10 text-muted text-uppercase">
                    <span>Beds: @r.Beds</span>
                    <span>Adults: @r.Adults</span>
                    <span>Children: @r.Children</span>
                  </div>
                </div>
                <p class="card-text">
                  @(r?.Description ?? @"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo debitis quasi, tenetur
                  ratione inventore quia aut facere sunt corporis consequatur nobis enim optio sint, vitae dignissimos totam
                  iste nulla labore.")
                </p>  
                <div class="d-flex justify-content-between">
                  <div class="card-text">
                    <span class="text-success h2">$ @r.Daily</span>
                    <span> / diária</span>
                  </div>
                  <a asp-action="Booking" asp-route-id="@r.Id" class="btn btn-primary align-self-start">Escolher</a>
                </div>
              </div>
            </div>
          </div>
        }
      }
      else
      {
        <span>Nenhum quarto disponível no mommento</span>
      }
    </div>
  </div>
</section>

<section class="pt-4 bg-dark">
  <div class="container pt-3 pb-2">
    <div class="row">
      <div class="col-12 col-md-6 text-white px-3">
        <h1>Nossa localização</h1>
        <h2 class="mb-3 text-success">Campos do Jordão</h2>
        <p class="lh-lg pt-3">
          A arquitetura de inspiração alemã dá um toque alpino à cidade, com florestas de 
          pinheiros que oferecem uma refrescante alternativa ao calor das terras baixas. 
          Com o horizonte repleto de picos verde-esmeralda, Campos do Jordão é um excelente 
          destino nas montanhas localizado nos trópicos.
        </p>
      </div>

      <div class="col-12 col-md-6 px-3">
        <img class="img-fluid"
          src="https://conteudo.imguol.com.br/c/entretenimento/4d/2021/08/09/campos-do-jordao-1628534716035_v2_4x3.jpg"
          alt="Campos do Jordão">
      </div>

    </div>
  </div>

</section>